<div class='posts'>
  <% if posts %>
    <% posts.each do |post| %>
      <div class='post'>
        <div class='upvote-container'>
          <div class='arrow'></div>
          <%= RedditPostsHelper.upvotes_formatter(post.upvotes) %>
        </div>
        <%= link_to post.title, post.url, :target => '_blank', :class => 'title' %><br>
      </div>
    <% end %>
  <% end %>
</div>
